/* Error: Undefined variable.
 *     ,
 * 305 |     box-shadow: inset 0 0 0 30px $headerColour; }
 *     |                                  ^^^^^^^^^^^^^
 *     '
 *   scss\component\toggleSwitch.scss 305:34  @import
 *   scss\component\index.scss 5:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 305 \2502      box-shadow: inset 0 0 0 30px $headerColour; }\d\a     \2502                                   ^^^^^^^^^^^^^\a     \2575 \a   scss\\component\\toggleSwitch.scss 305:34  @import\a   scss\\component\\index.scss 5:9            root stylesheet";
}
