/* Alert Banner */

.alert-banner {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    margin: 1em;
    background-color: $headerColour;
    border: solid $headerColour 1px;
    border-radius: 10px;

    p {
        margin: .5em;
    }

}